src/cpp/experiments/tests/test-xml-beans/hello.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="hello_t">
    <xsd:sequence>
      <xsd:element name="greeting" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="hello" type="hello_t"/>
</xsd:schema>
